@model IEnumerable<But>

@{
    ViewData["Title"] = "Lista Butów";
}

<div class="row">
    @foreach (var item in Model)
    {
       <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Nazwa
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.ButId"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.Logo" width="100%" alt="@item.Nazwa">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                           
                          
                            <p class="card-text"><b>Kategoria: </b>@item.kategoriaButa</p>
                            <p class="card-text"><b>Cena: </b>@item.Cena</p>
                            <p class="card-text"><b>Opis: </b>@item.Opis</p>
 
                            <p class="card-text ">
                                
                                
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.ButId">
                                    <i class="bi bi-eye-fill"></i> Pokaż szczegóły
                                </a>
                                <a class="btn btn-success text-white">
                                   
                                <i class="bi bi-cart-plus"></i> Dodaj do koszyka (Cena @item.Cena.ToString("c"))</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
